<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords"
          content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Sneaker Shop - Admin</title>

    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/images/img/icon.png">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/icons/flags/flags.css">
    <link rel="stylesheet" href="/css/animate.css">

    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/plugins/alertify/alertify.min.css"/>

    <link rel="stylesheet" href="/plugins/toastr/toatr.css"/>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="mini-sidebar">
<div th:replace="~{manage/activities :: main}"></div>
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>List Địa Chỉ Khách Hàng</h4>
                    <h6>Quản Lý Khách Hàng</h6>
                </div>
                <div class="page-btn">
                    <a th:href="@{'/manage/View-add-dia-chi/viewAdd/'+${idDC}}" class="btn btn-added"
                    ><img
                            src="/images/img/icons/plus.svg"
                            alt="img"
                            class="me-1"
                    />Thêm Địa Chỉ</a
                    >
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="form-hidden-2" style="display: none">
                        <form action="/manage/diaChi/import" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label> Upload Excel File</label>
                                <input type="file" name="file" onchange="displaySelectedFileName()"/>
                            </div>
                            <button type="submit" class="btn btn-submit me-2">Submit</button>
                        </form>
                    </div>
                    <br>
                    <div class="table-top">
                        <div class="search-set">
                            <div class="search-path">
                                <a class="btn btn-filter" id="filter_search">
                                    <img src="/images/img/icons/filter.svg" alt="img"/>
                                    <span
                                    ><img src="/images/img/icons/closes.svg" alt="img"
                                    /></span>
                                </a>
                            </div>
                            <div class="search-input">
                                <a class="btn btn-searchset"
                                ><img src="/images/img/icons/search-white.svg" alt="img"
                                /></a>
                            </div>
                        </div>
                        <div class="wordset">
                            <ul>
                                <li>
                                    <a class="btn btn-filter" id="import-excel" data-bs-toggle="tooltip"
                                       data-bs-placement="top" title="Import Excel">
                                        <img src="/images/img/icons/upload.svg" alt="img">
                                        <span><img src="/images/img/icons/closes.svg" alt="img"></span>
                                    </a>
                                </li>
                                <li>
                                    <a id="printButton"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="print"
                                    ><img src="/images/img/icons/printer.svg" alt="img"
                                    /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table  datanew" id="data-table">
                            <thead>
                            <tr>
                                <th>Mã Địa Chỉ</th>
                                <th>Tên Địa Chỉ</th>
                                <th>Tên Người Nhận</th>
                                <th>Xã Phường</th>
                                <th>Quận Huyện</th>
                                <th>Tỉnh Thành Phố</th>
                                <th>Mô Tả</th>
                                <th>Miền</th>
                                <th>Loại Địa Chỉ</th>
                                <th>Địa Chỉ Chi tiết</th>
                                <th>SDT Địa Chỉ</th>
                                <th>Khách Hàng</th>
                                <th>Trạng Thái</th>
                                <th>Thời Gian Thêm</th>
                                <th>Thời Gian Sửa</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="items : ${diaChiList}">
                                <td th:text="${items.maDC}"></td>
                                <td th:text="${items.tenDC}"></td>
                                <td th:text="${items.tenNguoiNhan}"></td>
                                <td th:text="${items.xaPhuong}"></td>
                                <td th:text="${items.quanHuyen}"></td>
                                <td th:text="${items.tinhTP}"></td>
                                <td th:text="${items.moTa}"></td>
                                <td th:text="${items.mien}"></td>
                                <td>
                                    <p th:if="${items.loai == true}"  class="badges bg-lightgreen">Mặc định</p>
                                    <p th:unless="${items.loai == true}" class="badges bg-lightred">Không mặc định</p>
                                </td>
                                <td th:text="${items.diaChiChiTiet}"></td>
                                <td th:text="${items.sdtNguoiNhan}"></td>
                                <td th:text="${items.khachHang.hoTenKH}"></td>
                                <td>
                                    <p th:if="${items.trangThai == 1}"  class="badges bg-lightgreen">Hoạt Động</p>
                                    <p th:unless="${items.trangThai == 1}" class="badges bg-lightred">Không Hoạt Động</p>
                                </td>
                                <td th:text="${#dates.format(items.tgThem, 'dd-MM-yyyy')}" align="center"/>
                                <td th:text="${#dates.format(items.tgSua, 'dd-MM-yyyy')}" align="center"/>
                                <td>
                                    <a class="me-3" th:href="@{'/manage/dia-chi-kh/viewUpdate/' + ${items.idDC}}">
                                        <img src="/images/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="me-2 delete-button"
                                       th:data-delete-url="@{'/manage/dia-chi-kh/delete/' + ${items.idDC}}">
                                        <img src="/images/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:if="${message}" id="toast-container" class="toast-container toast-top-right">
    <div class="toast toast-success" aria-live="polite" style="display: block;">
        <button type="button" class="toast-close-button" role="button"></button>
        <div class="toast-title">Thành Công</div>
        <div class="toast-message">Dữ liệu của bạn đã được cập nhật</div>
    </div>
</div>


<script src="/js/jquery-3.6.0.min.js"></script>

<script src="/js/feather.min.js"></script>

<script src="/js/jquery.slimscroll.min.js"></script>

<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>

<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/plugins/select2/js/select2.min.js"></script>

<script src="/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="/plugins/sweetalert/sweetalerts.min.js"></script>

<script src="/js/script.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/plugins/toastr/toastr.min.js"></script>
<script src="/plugins/toastr/toastr.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>

//
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy thẻ nút in bằng id
        var printButton = document.getElementById("printButton");

        // Thêm sự kiện click cho nút
        printButton.addEventListener("click", function () {
            // Gọi hàm in mặc định của trình duyệt
            window.print();
        });
    });
</script>
<script>
    // Bắt sự kiện click trên nút "Xóa"
    document.querySelectorAll(".delete-button").forEach(function (button) {
        button.addEventListener("click", function (event) {
            event.preventDefault(); // Ngăn chặn thực hiện chuyển hướng mặc định
            const deleteUrl = button.getAttribute("data-delete-url");
            showConfirmationDialog(deleteUrl);
        });
    });

    // Hàm hiển thị mã thông báo xác nhận
    function showConfirmationDialog(deleteUrl) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!",
            confirmButtonClass: "btn btn-primary",
            cancelButtonClass: "btn btn-danger ml-1",
            buttonsStyling: false
        }).then(function (result) {
            if (result.value) {
                // Chuyển hướng đến URL xóa
                window.location.href = deleteUrl;
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                // Xử lý khi người dùng hủy bỏ
                Swal.fire({
                    title: "Cancelled",
                    text: "Your imaginary file is safe :)",
                    type: "error",
                    confirmButtonClass: "btn btn-success"
                });
            }
        });
    }
</script>
<script>
    document.getElementById("import-excel").addEventListener("click", function () {
        var form2 = document.querySelector(".form-hidden-2");
        var form1 = document.querySelector(".hidden-form");
        if (form2.style.display === "none" || form2.style.display === "" || form1.style.display === "block") {
            $('.form-hidden-2').slideToggle("slow");
            form2.style.display = "block";  // Hiển thị form
            form1.style.display = "none";
        } else {
            form2.style.display = "none";  // Ẩn form
        }
    });
</script>
<script>
    setTimeout(function () {
        var successToast = document.getElementById('toast-container');
        if (successToast) {
            successToast.style.display = 'none';
        }
    }, 5000);
</script>
</body>
</html>
