<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Teezy Shop - Transport</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/img/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            margin-top: 20px;
                background-color: #eee;
        }

        .card {
            box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, .125);
            border-radius: 1rem;
        }

        .invoice-title {
            font-size: 1.5rem;
            font-weight: 700;
        }

        .table th, .table td {
            padding: 1rem;
        }

        .text-muted p {
            margin: 0;
        }

        .font-size-15 {
            font-size: 1.25rem;
        }

        .font-size-16 {
            font-size: 1.5rem;
        }
    </style>
</head>

<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous"/>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body" th:object="${billPrint}">
                    <div class="invoice-title">
                        <h4 class="float-end font-size-15" th:text="${billPrint.maHD}"></h4>
                        <div class="mb-4">
                            <h2 class="mb-1 text-muted">Teezy Shop</h2>
                        </div>
                        <div class="text-muted">
                            <p class="mb-1">Huyện Thường Tín, Hà Nội</p>
                            <p class="mb-1">
                                <i class="fas fa-envelope me-1"></i>
                                <a class="__cf_email__" data-cfemail="5b2322211b62636c75383436">teezyshop@gmail.com</a>
                            </p>
                            <p><i class="fas fa-phone me-1"></i>036-296-5179</p>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-muted">
                                <h5 class="font-size-16 mb-3">Gửi đến:</h5>
                                <h5 class="font-size-15 mb-2" th:text="${billPrint.tenNguoiNhan}"></h5>
                                <p class="mb-1" th:text="${billPrint.diaChiNguoiNhan}"></p>
                                <p th:text="'Số điện thoại: ' + ${billPrint.sdtNguoiNhan}"></p>
                            </div>
                        </div>
                        <div class="col-sm-6 text-end">
                            <div class="text-muted">
                                <h5 class="font-size-15 mb-1">Ngày đặt hàng</h5>
                                <p th:text="${#dates.format(billPrint.tgTao, 'HH:mm yyyy-MM-dd')}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <h5 class="font-size-15">Hóa đơn</h5>
                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap table-centered mb-0">
                                <thead>
                                <tr>
                                    <th style="width: 70px;">STT</th>
                                    <th>Sản phẩm</th>
                                    <th>Phân loại</th>
                                    <th>Số lượng</th>
                                    <th class="text-end" style="width: 120px;">Tổng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="x , index: ${billPrint.hoaDonChiTiets}">
                                    <tr>
                                        <th scope="row" th:text="${index.count}"></th>
                                        <td>
                                            <div>
                                                <h5 class="text-truncate font-size-14 mb-1"
                                                    th:text="${x.chiTietGiay.Giay.tenGiay}"></h5>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <p class="text-muted mb-0"
                                                   th:text="'Size: ' + ${x.chiTietGiay.size.soSize} + ' --- Màu: ' + ${x.chiTietGiay.mauSac.tenMau}"></p>
                                            </div>
                                        </td>
                                        <td th:text="${x.soLuong}"></td>
                                        <td class="text-end"
                                            th:text="'₫' + ${#numbers.formatDecimal(x.donGia, 0, 'COMMA', 0, 'POINT')}"></td>
                                    </tr>
                                </th:block>
                                <tr>
                                    <th scope="row" colspan="4" class="border-0 text-end">Phí giao hàng:</th>
                                    <td class="border-0 text-end"
                                        th:text="'₫' + ${#numbers.formatDecimal(billPrint.tienShip, 0, 'COMMA', 0, 'POINT')}"></td>
                                </tr>
                                <tr>
                                    <th scope="row" colspan="4" class="text-end">Giảm giá</th>
                                    <td class="text-end">
                                        <p th:if="${billPrint.khuyenMai != null and billPrint.khuyenMai.giaTienGiam > 0}"
                                           th:text="'₫' + ${#numbers.formatDecimal(billPrint.khuyenMai.giaTienGiam, 0, 'COMMA', 0, 'POINT')}"></p>
                                        <p th:if="${billPrint.khuyenMai == null or billPrint.khuyenMai.giaTienGiam <= 0}">
                                            ₫0</p>

                                </tr>

                                <tr>

                                    <th scope="row" colspan="4" class="text-end">Tổng tiền</th>
                                    <td class="text-end"
                                        th:text="'₫' + ${#numbers.formatDecimal(billPrint.tongTien, 0, 'COMMA', 0, 'POINT')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-print-none mt-4">
                            <div class="float-end">
                                <a href="javascript:window.print()" class="btn btn-success me-1"><i
                                        class="fa fa-print"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
