<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sneaker Shop</title>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Male_Fashion Template">
        <meta name="keywords" content="Male_Fashion, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sneaker Shop</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
              rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/images/img/icon.png">
        <!-- Css Styles -->
        <link rel="stylesheet" href="/cssx/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/cssx/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="/cssx/nice-select.css" type="text/css">
        <link rel="stylesheet" href="/cssx/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/style.css" type="text/css">
        <link rel="stylesheet" href="/cssx/scroll.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/styleNhan.css" type="text/css">

        <style>
            header {
                position: fixed;
                width: 100%;
                z-index: 100;
            }
        </style>
    </head>

<body style="margin-top: -10px">


<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3  d-flex align-items-center">
                    <div class="header__top__left">
                        <p>Chào mừng đến với trải nghiệm mua sắm</p>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <form action="/buyer/search" method="post">
                        <div style="width: 100%; display: flex; background-color: white; border: 10px;">
                            <input th:value="${keyword}" name="keyWord" class="form-control"
                                   style="border: none; width: 500px;" placeholder="Nhập văn bản..." type="text">
                            <div style="width: 60px; background-color: #f3f2ee; height: 40px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <a type="submit" href=""><img src="/images/img/icon/search.png" alt=""></a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-3 d-flex align-items-center">
                    <div>

                        <div th:if="${heartLogged}" class="header__top__links">
                            <a th:href="@{'/buyer/purchase'}">Đơn mua</a>
                        </div>


                        <!--        Buyer FullName Begin    -->
                        <div class="header__top__hover">
                            <span th:text="${fullNameLogin}"><i class="arrow_carrot-down"></i></span>
                            <ul>
                                <li><a th:href="@{'/buyer/setting'}">Cài đặt</a></li>
                                <li><a th:href="@{'/buyer/logout'}">Đăng xuất</a></li>

                            </ul>
                            <a th:if="${messageLoginOrSignin}" th:href="@{'/buyer/login'}"
                               style="color: #ffffff;font-size: 13px;text-transform: uppercase;letter-spacing: 2px;display: inline-block;cursor: pointer;">Đăng
                                nhập</a>
                            <a><span> | | </span></a>
                            <a th:if="${messageLoginOrSignin}" th:href="@{'/buyer/register'}"
                               style="color: #ffffff;font-size: 13px;text-transform: uppercase;letter-spacing: 2px;display: inline-block;cursor: pointer;">Đăng
                                ký </a>
                        </div>
                        <!--            Buyer FullName End -->

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container" style=" height: 100px">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a th:href="@{'/buyer/home'}"><img src="/images/img/logo.png"
                                                       style="width: 240px; height: 240px; margin-top: -84px"
                                                       alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a th:href="@{'/buyer/'}">Home</a></li>
                        <li><a th:href="@{'/buyer/shop'}">Shop</a></li>
                        <li class="active"><a th:href="@{'/buyer/about'}">About Us</a></li>
                        <li><a th:href="@{'/buyer/blog'}">Blog</a>
                            <ul class="dropdown">
                                <li><a th:href="@{'/buyer/blog/blog-details'}">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{'/buyer/contact'}">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option" style="display: flex;justify-content: end;">


                    <div class="nav user-menu" style="height: 30px;">

                        <li class="nav-item dropdown" style="height: 30px;">
                            <a data-bs-toggle="dropdown" href="#">
                                <img style="margin-bottom: 42px; width: 18px; height: 18px;"
                                     src="/images/img/icon/notification.png">
                            </a>
                            <span style="position: absolute; height:20px; width: 25px; top: -13px; left: 7px;  color: rgb(0, 0, 0) ; font-size: 12px; font-weight: bold;  padding: 4px; border-radius: 50%;"
                                  th:text="${soThongBao}"></span>
                            <div class="dropdown-menu notifications"
                                 style="width:300px; top: -80px; position: absolute;">
                                <div class="topnav-dropdown-header">
                                    <span class="notification-title">Thông báo</span>
                                    <a class="clear-noti"> Xóa sạch </a>
                                </div>
                                <div class="vertical-scroll scroll-demo">
                                    <th:block th:if="${x.trangThai != 3}" th:each="x : ${listThongBao}">
                                        <a href="#" class="items-noticafitions">
                                            <div class="items-notica">
                                            <span class="avatar">
                                                <img alt="" src="/images/img/blog/blog-1.jpg">
                                            </span>
                                                <div class="text-notica">
                                                    <span class="notica-title" th:text="${fullNameLogin}"></span>
                                                    <p class="notica-times">1 phút trước</p>
                                                    <input th:if="x.trangThai == 1" checked class="notica-read"
                                                           type="radio" name="" id="">
                                                    <input th:if="x.trangThai == 0">
                                                </div>
                                                <p class="notica-status">---------</p>
                                                <div class="text-contents">
                                                    <p class="notica-contents" th:text="${x.noiDungTB}"></p>
                                                </div>


                                            </div>
                                        </a>
                                    </th:block>
                                </div>
                                <div class="topnav-dropdown-footer">
                                    <a href="activities.html">Xem tất cả thông báo</a>
                                </div>
                            </div>

                        </li>
                    </div>
                    <a th:href="@{'/buyer/fa&recently'}"><img src="/images/img/icon/heart2.png" alt=""></a>

                    <a th:href="@{'/buyer/cart'}" style="position: relative; display: inline-block; ">
                        <img src="/images/img/icon/cart.png" alt="">
                        <span class="cart-count"
                              style="position: absolute; height:20px; width: 25px; top: -13px; left: 3px;  color: rgb(0, 0, 0) ; font-size: 12px; font-weight: bold;  padding: 4px; border-radius: 50%;"
                              th:text="${sumProductInCart}">
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->
<section>
    <div style="height: 150px; width: 100%;"></div>
</section>


<!-- Hero Section Begin -->
<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">About Teezy Shop</h1>
                <p class="lead text-muted mb-0">Thành lập vào ngày 01/04/2024</p>
                <p class="lead text-muted">Đồng sáng lập bởi 4 thành viên <a href="#" class="text-muted">
                    <u>Thùy, Quân, Thực, Ngọc</u></a>
                </p>
            </div>
            <!--            Thay ảnh-->
            <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png"
                                                         alt="" class="img-fluid"></div>
        </div>
    </div>
</div>
<!-- Hero Section End -->


<div class="bg-white py-5">

    <div class="container py-5">
        <!--Sứ mệnh của chúng tôi-->
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Sứ mệnh của chúng tôi</h2>
                <p class="font-italic text-muted mb-4">Chúng tôi muốn mang đến cho khách hàng trải nghiệm mua sắm trực
                    tuyến tiện lợi và an toàn. Khách hàng có thể dễ dàng tìm kiếm và lựa chọn những đôi giày phù hợp với
                    nhu cầu của mình, đồng thời được hưởng các dịch vụ khách hàng chu đáo như đổi trả hàng miễn phí,
                    giao hàng tận nơi,...</p>
                <a href="/buyer/shop"
                   class="btn btn-light px-5 rounded-pill shadow-sm">Khám phá những đôi giày tuyệt vời nhất và chỉ dành
                    riêng cho bạn!</a>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                    src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0">
            </div>
        </div>

        <!--Câu chuyện của chúng tôi-->
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt=""
                                                    class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Our Story</h2>
                <p class="font-italic text-muted mb-4">Câu chuyện của Teezy Shop bắt đầu từ niềm đam mê mãnh liệt
                    với những đôi giày mà bọn mình đã thấy qua trên các trang xã hôi, các tờ tạp chí .... Nhìn người mẫu
                    mang những đôi giày đa dạng về kiểu dáng và màu sắc khiến bộ đồ họ mặc trông thật đẹp và khiến đôi
                    chân của họ trông thật sự nổi bật...

                    Sau nhiều tháng ấp ủ, Nhóm mình đã quyết định biến đam mê bất chợt đó thành hiện thực bằng
                    cách thành lập Teezy Shop</p>
                <!--                <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn-->
                <!--                    More</a>-->
            </div>
        </div>
    </div>
</div>
<!-- Banner Section Begin -->

<div class="bg-light py-5">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Các thành viên</h2>
                <p class="font-italic text-muted">Trẻ tuổi, hết mình vì đam mê, không say không về :)))</p>
            </div>
        </div>

        <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Thùy</h5><span
                            class="small text-uppercase text-muted">Trưởng nhóm - DEV, Test</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Quân</h5><span
                            class="small text-uppercase text-muted">Thành viên - DEV, Test</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Thực</h5><span
                            class="small text-uppercase text-muted">Thành viên - DEV, Test</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Nguyễn Minh Ngọc</h5><span class="small text-uppercase text-muted">Thành viên - DEV, Test</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://www.facebook.com/ngoc209203"
                                                        class="social-link"><i
                                class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/Minhngoc209" class="social-link"><i
                                class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/nguyen_minh_ngoc_209/"
                                                        class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a
                                href="https://www.linkedin.com/in/nguy%E1%BB%85n-ng%E1%BB%8Dc-03430529b/"
                                class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- Banner Section End -->

            <!-- Product Section Begin -->


            <!-- Product Section End -->
        </div>
    </div>
</div>

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="/Logo.png" alt=""></a>
                    </div>
                    <p> Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả
                        thiết kế.</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Cửa hàng</h6>
                    <ul>
                        <li><a href="/buyer/shop">Gian hàng</a></li>
                        <li><a href="/buyer/shop">Xu Hướng</a></li>
                        <li><a href="/buyer/shop">Đề Xuất</a></li>
                        <li><a href="/buyer/shop/sale">Giảm giá</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua sắm</h6>
                    <ul>
                        <li><a href="#">Liên Hệ</a></li>
                        <li><a href="#">Thanh Toán</a></li>
                        <li><a href="#">Giao Hàng</a></li>
                        <li><a href="#">Hoàn Hàng/Tiền</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Hãy là người đầu tiên biết về hàng mới, sách tra cứu, khuyến mại và khuyến
                            mãi!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        2023
                        All rights reserved | This template is edit with Thùy Péo
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/scrollbar.min.js"></script>
<script src="/js/custom-scroll.js"></script>


</body>


</html>