<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Control Shop</title>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Male_Fashion Template">
        <meta name="keywords" content="Male_Fashion, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Control Shop</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
              rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/images/img/icon.png">
        <!-- Css Styles -->
        <link rel="stylesheet" href="/cssx/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/cssx/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="/cssx/nice-select.css" type="text/css">
        <link rel="stylesheet" href="/cssx/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/style.css" type="text/css">
        <link rel="stylesheet" href="/cssx/scroll.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/styleNhan.css" type="text/css">

        <style>
            header {
                position: fixed;
                width: 100%;
                z-index: 100;
            }

            .radio-input input {
                display: none;
            }

            .radio-input {
                padding: 30px 0 30px 0;
                position: relative;
                display: flex;
                background-color: #fff;
                justify-content: center;
                color: #000000;
                width: 700px;
                flex-wrap: wrap;
                margin: auto;
            }

            .radio-input label {
                width: 100px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                font-size: 14px;
                border: 1px solid #e5e5e5;
                margin-right: 50px;
                margin-top: 20px;
            }

            .radio-input label:has(input:checked) {
                color: #fff;
                background-color: #000000;
            }

            .link {
                text-decoration: none;
                height: 100%;
                width: 100px;
                z-index: 1;
                color: inherit;
                background-color: inherit;
                align-items: center;
                flex-direction: column;
                text-align: center;
            }

            .product__details__pic {
                width: 50%;
                float: left;
                background-color: revert;
            }

            .product__details__text {
                width: 171%;
                margin-top: 40px;
            }

        </style>

    </head>

<body>
<!-- Page Preloder -->
<!--<div id="preloder">-->
<!--    <div class="loader"></div>-->
<!--</div>-->

<!-- Header Section Begin -->

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3  d-flex align-items-center">
                    <div class="header__top__left">
                        <p>Chào mừng đến với trải nghiệm mua sắm</p>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <form action="/buyer/search" method="post">
                        <div style="width: 100%; display: flex; background-color: white; border: 10px;">
                            <input th:value="${keyword}" name="keyWord" class="form-control"
                                   style="border: none; width: 500px;" placeholder="Nhập văn bản..." type="text">
                            <div style="width: 60px; background-color: #f3f2ee; height: 40px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <button type="submit" href=""><img src="/images/img/icon/search.png" alt=""></button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-3 d-flex align-items-center">


                    <div th:if="${successMessage}" th:attr="data-message=${successMessage}" id="success-toast"
                         style="position: fixed; top: 1rem; right: 1rem; z-index: 1050;">
                        <!-- Toast container, ẩn mặc định và sẽ được hiển thị bằng JavaScript -->
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="7000">
                            <div class="toast-header">
                                <strong class="mr-auto">Thông báo</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body" th:text="${successMessage}">
                            </div>
                        </div>
                    </div>

                    <!--                    <div th:if="${errorMessage}" th:attr="data-message=${errorMessage}" id="success-toast" style="position: fixed; top: 1rem; right: 1rem; z-index: 1050;">-->
                    <!--                        &lt;!&ndash; Toast container, ẩn mặc định và sẽ được hiển thị bằng JavaScript &ndash;&gt;-->
                    <!--                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="7000">-->
                    <!--                            <div class="toast-header">-->
                    <!--                                <strong class="mr-auto">Lỗi</strong>-->
                    <!--                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">-->
                    <!--                                    <span aria-hidden="true">&times;</span>-->
                    <!--                                </button>-->
                    <!--                            </div>-->
                    <!--                            <div class="toast-body" th:text="${errorMessage}">-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->


                    <div>

                        <div th:if="${heartLogged}" class="header__top__links">
                            <a th:href="@{'/buyer/purchase'}">Đơn mua</a>
                        </div>

                        <!--        Buyer FullName Begin    -->
                        <div class="header__top__hover">
                            <span th:text="${fullNameLogin}"><i class="arrow_carrot-down"></i></span>
                            <ul>
                                <li><a th:href="@{'/buyer/setting'}">Cài đặt</a></li>
                                <li><a th:href="@{'/buyer/logout'}">Đăng xuất</a></li>

                            </ul>
                            <a th:if="${messageLoginOrSignin}" th:href="@{'/buyer/login'}"
                               style="color: #ffffff;font-size: 13px;text-transform: uppercase;letter-spacing: 2px;display: inline-block;cursor: pointer;">Đăng
                                nhập</a>
                            <a><span> | | </span></a>
                            <a th:if="${messageLoginOrSignin}" th:href="@{'/buyer/register'}"
                               style="color: #ffffff;font-size: 13px;text-transform: uppercase;letter-spacing: 2px;display: inline-block;cursor: pointer;">Đăng
                                ký </a>
                        </div>
                        <!--            Buyer FullName End -->

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container" style=" height: 100px">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a th:href="@{'/buyer/home'}"><img src="/images/img/logo.png"
                                                       style="width: 240px; height: 240px; margin-top: -84px"
                                                       alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a th:href="@{'/buyer/'}">Trang Chủ</a></li>
                        <li class="active"><a th:href="@{'/buyer/shop'}">Cửa Hàng</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option" style="display: flex;justify-content: end;">


                    <a th:href="@{'/buyer/cart'}" style="position: relative; display: inline-block; ">
                        <img src="/images/img/icon/cart.png" alt="">
                        <span class="cart-count"
                              style="position: absolute; height:20px; width: 25px; top: -13px; left: 3px;  color: rgb(0, 0, 0) ; font-size: 12px; font-weight: bold;  padding: 4px; border-radius: 50%;"
                              th:text="${sumProductInCart}"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->

<section>
    <div style="height: 150px; width: 100%;"></div>
</section>

<!-- Shop Details Section Begin -->
<section class="shop-details">
    <form th:object="${product}" method="">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a th:href="@{'/buyer/homeBuyer'}">Home</a>
                            <a th:href="@{'/buyer/shop'}">Shop</a>
                            <span>Chi tiết sản phẩm</span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-right: -150px">
                    <div class="col-lg-3 col-md-3">

                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                    <div style="border-radius:10px; " class="product__thumb__pic set-bg"
                                         th:attr="data-setbg=@{'/images/imgsProducts/' + ${hinhAnh.url1}}"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                    <div style="border-radius:10px;" class="product__thumb__pic set-bg"
                                         th:attr="data-setbg=@{'/images/imgsProducts/' + ${hinhAnh.url2}}"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                    <div style="border-radius:10px;" class="product__thumb__pic set-bg"
                                         th:attr="data-setbg=@{'/images/imgsProducts/' + ${hinhAnh.url3}}"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                    <div style="border-radius:10px;" class="product__thumb__pic set-bg"
                                         th:attr="data-setbg=@{'/images/imgsProducts/' + ${hinhAnh.url4}}"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--          Show Image Product Begin-->
                    <div class="col-lg-6 col-md-9">
                        <div class="tab-content">

                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img th:src="@{'/images/imgsProducts/' + ${hinhAnh.url1}}"/>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img th:src="@{'/images/imgsProducts//' + ${hinhAnh.url2}}"/>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img th:src="@{'/images/imgsProducts/' + ${hinhAnh.url3}}"/>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-4" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img th:src="@{'/images/imgsProducts/' + ${hinhAnh.url4}}"/>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--          Show Image Product End-->
                </div>
            </div>
        </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4 th:text="${product.tenGiay}"></h4>
                            <h3 id="price-range" class="price-range"
                                th:text=" ${#numbers.formatDecimal(minPrice, 0, 'COMMA', 2, 'POINT').replaceAll('([,.])0+$', '$1').replaceAll('\\.$', '')} +  ' ₫' "></h3>
                            <h3 id="price_product"></h3>
                            <p th:text="${product.moTa}"></p>

                            <div class="product__details__option 2">
                                <div class="product__details__option__size 2" style="margin-left: 50px">

                                </div>
                            </div>

                            <div class="product__details__option">
                                <div class="product__details__option__size" style="margin-left: 50px">
                                    <div class="label-container"
                                         style="display: flex; flex-wrap: wrap; justify-content: center;width: 127%;margin-top: 12px;margin-left: -68px">
                                        <th:block th:each="x : ${listSizeCTG}">
                                            <label th:unless="${x[2]}" th:name="${x[1]}" class="label"
                                                   style="width: 200px; margin: 5px; font-weight: unset; font-size: small; height: 40px;"
                                                   onclick="capNhatGia(event)"
                                                   th:text="${x[0]} + ' (Số lượng: ' + ${x[3]} + ')'"></label>
                                        </th:block>
                                    </div>
                                </div>
                                <br>
                                <br>
                            </div>

                            <div class="product__details__cart__option">
                                <div class="quantity">
                                    <p style="display: inline-block; margin: 0;">Số lượng :</p>
                                    <div style="display: inline-block;">
                                        <input oninput="validateInput()" id="quantityInput" style="width: 80px;"
                                               type="number" class="form-control" aria-label="Quantity" min="1" max="10"
                                               value="1">
                                    </div>
                                    <p class="sum-remind" id="quantityProductMax"
                                       style="display: inline-block; margin: 0;" th:text="${sunProductAvaible}"></p>
                                    <p style="display: inline-block; margin: 0;"><span id="quantity_remind"></span></p>
                                    <p style="display: inline-block; margin: 0;">Sản phẩm có sẵn</p>
                                </div>
                            </div>


                            <div th:if="${buyNowAddCartLogged}" class="product__details__cart__option">
                                <a style="color: white; cursor: pointer;" class="primary-btn" id="buyNowButton">Mua
                                    ngay</a>
                                <a style="color: white; cursor: pointer;" id="addToCartButton" class="primary-btn">Thêm
                                    vào giỏ hàng</a>
                            </div>


                        </div>
                    </div>
                </div>


            </div>
        </div>
        </div>
    </form>
</section>
<!-- Shop Details Section End -->


<!--Section giá và size begin-->

<section>
    <th:block th:each="x : ${listGiavaSize}">
        <div th:value="${x.size.soSize}" hidden>
            <input th:value="${x.giaBan}">
            <input th:value="${x.size.soSize}">
        </div>
    </th:block>
</section>
<!--Section giá và size end-->

<!--&lt;!&ndash;Modal Begin&ndash;&gt;-->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#noticaAddVoucher" id="openModalBtn">-->
<!--    Mở thông báo-->
<!--</button>-->

<!-- Modal -->
<div class="modal fade" id="noticaAddVoucher" tabindex="-1" role="dialog" aria-labelledby="messAddThanhCongTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messAddThanhCongTitle">Thông báo !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="align-items: center; text-align: center; width: 465px; margin-top: 10px; margin-bottom: 10px;">
                    <p style="font-size: 13pt; font-weight: 600;">Vui lòng chọn một sản phẩm trước khi thêm vào giỏ
                        hàng.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal HTML -->

<!-- Footer Section Begin -->
<footer style="margin-top: 210px; background: #0b0b0b ">
    <div class="footer__copyright__text">
        <p> This template is edit with TeeZy Shop <i class="fa fa-heart-o" aria-hidden="true"></i>
        </p>
    </div>
</footer>
<!-- Footer Section End -->
<!--Modal End-->
<script src="/js/jquery-3.6.0.min.js"></script>
<script>
    function validateInput() {
        var input = document.getElementById('quantityInput');
        var inputValue = input.value;

        // Remove non-numeric characters using a regular expression
        inputValue = inputValue.replace(/[^0-9]/g, '');

        // Ensure the value is not empty
        if (inputValue === '') {
            inputValue = '1'; // Set a default value if empty
        }

        // Check if the value is within the range 1 to 10
        inputValue = parseInt(inputValue, 10);
        if (inputValue < 1 || isNaN(inputValue)) {
            // If outside the range or not a number, set the value to 1
            input.value = '1';
        } else if (inputValue > 10) {
            // If greater than 10, set the value to 10
            input.value = '10';
        } else {
            // Update the input value
            input.value = inputValue;
        }
    }
</script>
<script>
    function capNhatGia(event) {
        // Lấy giá trị của label
        var giaTriLabel = event.target.textContent || event.target.innerText;

        // Tìm phần ẩn tương ứng cho kích thước đã chọn
        var phanAn = document.querySelector('section div[value="' + giaTriLabel + '"]');

        // Lấy giá trị giá từ phần ẩn
        var gia = phanAn.querySelector('input:first-child').value;

        var giaDinhDang = gia.toLocaleString('vi-VN', {style: 'currency', currency: 'VND'});

        // Cập nhật giá hiển thị
        var hienThiGia = document.getElementById('price-range');
        hienThiGia.textContent = giaDinhDang;
        // Cập nhật giá hiển thị
        var hienThiGia = document.getElementById('price-range');
        hienThiGia.textContent = '₫' + gia;
    }
</script>

<script>
    document.getElementById("addToCartButton").addEventListener("click", function () {
        var quantity = document.getElementById("quantityInput").value;

        var selectedLabel = document.querySelector(".label.active");

        if (selectedLabel) {
            var labelName = selectedLabel.getAttribute("name");

            window.location.href = '/buyer/shop/addProductCart?idDetailProduct=' + labelName + '&quantity=' + quantity;

        } else {
            $('#noticaAddVoucher').modal('show');
            event.preventDefault();
        }
    });
</script>

<script th:if="${successMessage}">
    document.addEventListener('DOMContentLoaded', (event) => {
        var toastElement = document.getElementById('success-toast').querySelector('.toast');
        var toast = new bootstrap.Toast(toastElement);
        toast.show();
    });
</script>
<script th:if="${errorMessage}">
    document.addEventListener('DOMContentLoaded', (event) => {
        var toastElement = document.getElementById('success-toast').querySelector('.toast');
        var toast = new bootstrap.Toast(toastElement);
        toast.show();
    });
</script>

<script>
    $(document).ready(function () {
        $('#yourTriggerButton').click(function () {
            $('#simpleModal').modal('show');
        });
    });

</script>


<script>
    document.getElementById("buyNowButton").addEventListener("click", function () {
        var quantity = document.getElementById("quantityInput").value;

        var selectedLabel = document.querySelector(".label.active");
        document.addEventListener("keydown", function (event) {
            if (event.key === "F5" || event.keyCode === 116) {
                event.preventDefault();
            }
        });
        if (selectedLabel) {
            var labelName = selectedLabel.getAttribute("name");

            window.location.href = '/buyer/shop/buyNowButton?idDetailProduct=' + labelName + '&quantity=' + quantity;

        } else {
            $('#noticaAddVoucher').modal('show');
            event.preventDefault();
        }
    });
</script>


<script src="/js/feather.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/scrollbar.min.js"></script>
<script src="/js/custom-scroll.js"></script>

</body>

</html>