<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teezy Shop</title>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Male_Fashion Template">
        <meta name="keywords" content="Male_Fashion, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Teezy Shop</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
              rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/images/img/icon.png">
        <!-- Css Styles -->
        <link rel="stylesheet" href="/cssx/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/cssx/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="/cssx/nice-select.css" type="text/css">
        <link rel="stylesheet" href="/cssx/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/style.css" type="text/css">
        <link rel="stylesheet" href="/cssx/scroll.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/styleNhan.css" type="text/css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <style>
            header {
                position: fixed;
                width: 100%;
                z-index: 100;
            }
        </style>
        <style>
            .product__item__pic img {
                transition: transform 0.3s ease;
            }

            .product__item__pic:hover img {
                transform: scale(1.1);
            }


        </style>
    </head>

<body style="margin-top: -10px">


<!--<div id="preloder">-->
<!--    <div class="loader"></div>-->
<!--</div>-->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3  d-flex align-items-center">
                    <div class="header__top__left">
                        <p>Chào mừng đến với trải nghiệm mua sắm</p>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <form action="/buyer/search" method="post">
                        <div style="width: 100%; display: flex; background-color: white; border: 10px;">



                            <input th:value="${keyword}" name="keyWord" class="form-control" style="border: none; width: 500px;"  placeholder="Tìm kiếm..." type="text">

                            <div style="width: 60px; background-color: #f3f2ee; height: 40px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <a type="submit" href=""><img src="/images/img/icon/search.png" alt=""></a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-3 d-flex align-items-center">
                    <div>

                        <div th:if="${heartLogged}" class="header__top__links">
                            <a th:href="@{'/buyer/purchase'}">Đơn mua</a>
                        </div>


                        <!--        Buyer FullName Begin    -->
                        <div class="header__top__hover">
                            <span th:text="${fullNameLogin}" th:if="${fullNameLogin != null}"><i class="arrow_carrot-down"></i></span>
                            <ul th:if="${fullNameLogin != null}">
                                <li><a th:href="@{'/buyer/setting'}">Cài đặt</a></li>
                                <li><a th:href="@{'/buyer/logout'}">Đăng xuất</a></li>
                                <li><a th:href="@{'/buyer/change-password'}">Đổi mật khẩu</a></li>
                            </ul>
                            <a th:if="${messageLoginOrSignin}" th:href="@{'/buyer/login'}"
                               style="color: #ffffff;font-size: 13px;text-transform: uppercase;letter-spacing: 2px;display: inline-block;cursor: pointer;">Đăng
                                nhập</a>
                            <a><span> | | </span></a>
                            <a th:if="${messageLoginOrSignin}" th:href="@{'/buyer/register'}"
                               style="color: #ffffff;font-size: 13px;text-transform: uppercase;letter-spacing: 2px;display: inline-block;cursor: pointer;">Đăng
                                ký </a>
                        </div>
                        <!--            Buyer FullName End -->

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container" style=" height: 100px">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a th:href="@{'/buyer/home'}"><img src="/images/img/logo.png"
                                                       style="width: 240px; height: 240px; margin-top: -84px"
                                                       alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a th:href="@{'/buyer/'}">Home</a></li>
                        <li><a th:href="@{'/buyer/shop'}">Shop</a></li>
                        <li><a th:href="@{'/buyer/about'}">About Us</a></li>
                        <li><a th:href="@{'/buyer/blog'}">Blog</a>
                            <ul class="dropdown">
                                <li><a th:href="@{'/buyer/blog/blog-details'}">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{'/buyer/contact'}">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option" style="display: flex;justify-content: end;">

                    <script>
                        document.addEventListener('DOMContentLoaded', (event) => {
                            const cartLink = document.querySelector('.cart-link');

                            cartLink.addEventListener('click', (e) => {
                                e.preventDefault(); // Ngăn không cho điều hướng theo th:href mặc định
                                // Gọi một API để xác minh trạng thái đăng nhập
                                checkLoginStatus().then(loggedIn => {
                                    if (loggedIn) {
                                        // Nếu đăng nhập, điều hướng tới trang giỏ hàng
                                        window.location.href = '/buyer/cart';
                                    } else {
                                        // Nếu chưa đăng nhập, hiển thị thông báo và chuyển hướng sang trang đăng nhập
                                        Swal.fire({
                                            title: 'Thông báo!',
                                            text: 'Bạn cần đăng nhập để xem giỏ hàng',
                                            icon: 'info',
                                            confirmButtonText: 'Đăng nhập',
                                            confirmButtonColor: '#3085d6',
                                            preConfirm: () => {
                                                window.location.href = '/buyer/login';
                                            }
                                        });
                                    }
                                }).catch(error => {
                                    console.error('Có lỗi xảy ra khi kiểm tra trạng thái đăng nhập', error);
                                });
                            });

                            function checkLoginStatus() {
                                // Gửi yêu cầu tới server để kiểm tra trạng thái đăng nhập
                                return fetch('/api/check-login', {
                                    method: 'GET',
                                    credentials: 'include'  // Đảm bảo cookie/session được gửi kèm với request
                                })
                                    .then(response => response.json())
                                    .then(data => {
                                        return data.loggedIn;  // Giả sử API trả về một object có thuộc tính loggedIn là true hoặc false
                                    });
                            }
                        });
                    </script>


                    <a href="/buyer/cart" class="cart-link" style="position: relative; display: inline-block;">
                        <img src="/images/img/icon/cart.png" alt="">
                        <span class="cart-count"
                              style="position: absolute; height:20px; width: 25px; top: -13px; left: 3px;  color: rgb(0, 0, 0) ; font-size: 12px; font-weight: bold;  padding: 4px; border-radius: 50%;"
                              th:text="${sumProductInCart}"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->
<section>
    <div style="height: 150px; width: 100%;"></div>
</section>


<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="/images/img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <a th:href="@{'/buyer/shop'}" class="primary-btn">Shop now <span class="arrow_right"></span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="/images/img/hero/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">

                            <a th:href="@{'/shop'}" class="primary-btn">Shop now <span class="arrow_right"></span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->


<!-- Banner Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="/images/img/banner/banner-1.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Clothing Collections 2030</h2>
                        <a href="/buyer/shop">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="/images/img/banner/banner-2.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Accessories</h2>
                        <a href="/buyer/shop">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="/images/img/banner/banner-3.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Shoes Spring 2030</h2>
                        <a href="/buyer/shop">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Product Section Begin -->

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter=".new-arrivals">Hàng mới về</li>
                    <li data-filter=".best-seller">Hàng bán chạy</li>

                </ul>
            </div>
        </div>
        <div class="row product__filter">

            <th:block th:each="product : ${listCTGModelNew}">
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <a th:href="@{'/buyer/shop-details/' + ${product.idGiay} +'/' + ${product.idMau}}">
                            <div class="product__item__pic" style="border-radius:20px;">
                                <img th:src="@{'/images/imgsProducts/' + ${product.hinhAnh}}" alt="Product Image" style="width: 100%; border-radius: 20px;">
                                <span class="label">New</span>
                            </div>
                        </a>
                        <div>
                            <h6 style="margin-top: 10px; margin-bottom: 10px" th:text="${product.tenGiay}"></h6>
                            <h7 style="margin-top: 10px; margin-bottom: 10px" th:text="${product.tenMau}"></h7>
                            <h5 style="font-weight: bold; margin-bottom: 10px;"
                                th:text="'₫' + ${#numbers.formatDecimal(product.minPrice, 0, 'COMMA', 2, 'POINT').replaceAll('([,.])0+$', '$1').replaceAll('[,.]$', '')}"></h5>
                            <!-- <div class="product__color__select" style="display: flex"> -->
                            <!-- <h6 style="font-size: 12px;" th:text="${sumCTGByGiay} + ' ' + 'có sẵn'"></h6> -->
                            <!-- <h6 style="font-style: italic; font-size: 12px; margin-left: 100px;" th:text="${product.soLuongDaBan} + ' ' + 'đã bán'"></h6> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:each="product : ${listCTGModelBestSeller}">
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix best-seller">
                    <div class="product__item">
                        <a th:href="@{'/buyer/shop-details/' + ${product.idGiay} +'/' + ${product.idMau}}">
                            <div class="product__item__pic" style="border-radius:20px;">
                                <img th:src="@{'/images/imgsProducts/' + ${product.hinhAnh}}" alt="Product Image" style="width: 100%; border-radius: 20px;">
                                <span class="label">Bán chạy</span>
                            </div>
                        </a>
                        <div>

                            <h6 style="margin-top: 10px; margin-bottom: 10px" th:text="${product.tenGiay}"></h6>
                            <h7 style="margin-top: 10px; margin-bottom: 10px" th:text="${product.tenMau}"></h7>
                            <h5 style="font-weight: bold; margin-bottom: 10px;"
                                th:text="'₫' + ${#numbers.formatDecimal(product.minPrice, 0, 'COMMA', 2, 'POINT')}"></h5>
                            <!-- <div class="product__color__select" style="display: flex"> -->
                            <!-- <h6 style="font-size: 12px;" th:text="${product.slTon} + ' ' + 'có sẵn'"></h6> -->
                            <!-- <h6 style="font-style: italic; font-size: 12px; margin-left: 100px;" th:text="${product.soLuongDaBan} + ' ' + 'đã bán'"></h6> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </th:block>



        </div>
    </div>
</section>

<!-- Product Section End -->


<!-- Footer Section Begin -->
<footer style="margin-top: 210px; background: #0b0b0b ; text-align: center" >
    <div class="footer__copyright__text">
        <p> This template is edit with TeeZy Shop <i class="fa fa-heart-o" aria-hidden="true"></i>
        </p>
    </div>
</footer>

<!-- Js Plugins -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/scrollbar.min.js"></script>
<script src="/js/custom-scroll.js"></script>


</body>


</html>