<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teezy Shop</title>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Male_Fashion Template">
        <meta name="keywords" content="Male_Fashion, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Teezy Shop</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
              rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/images/img/icon.png">
        <!-- Css Styles -->
        <link rel="stylesheet" href="/cssx/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/cssx/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="/cssx/nice-select.css" type="text/css">
        <link rel="stylesheet" href="/cssx/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/style.css" type="text/css">
        <link rel="stylesheet" href="/cssx/scroll.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/styleNhan.css" type="text/css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="style.css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Include Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>



        <style>
            header {
                position: fixed;
                width: 100%;
                z-index: 100;
            }
        </style>
        <style>
            .error-message {
                color: white;
                background-color: #f44336; /* Màu đỏ */
                padding: 10px;
                margin: 10px 0;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0,0,0,0.2);
            }
        </style>
        <style>
            /* Tăng cường độ mờ để đảm bảo rằng các nút tăng giảm luôn hiển thị */
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                opacity: 1 !important;
                visibility: visible !important;
            }

            /* Đối với Firefox */
            input[type="number"] {
                -moz-appearance: textfield;
            }

            /* Đảm bảo mũi tên đó không bị ẩn trong các trình duyệt khác */
            input[type="number"]::up-button,
            input[type="number"]::down-button {
                display: block !important;
            }

            /* Modal */
            .modal {
                display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.4);
            }

            /* Modal Content */
            .modal-content {
                background-color: #fefefe;
                margin: 15% auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
                max-width: 400px;
                text-align: center;
                border-radius: 10px;
            }

            /* Close Button */
            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

            /* Buttons */
            .cancelbtn, .deletebtn {
                padding: 10px 20px;
                margin: 10px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
            }

            .cancelbtn {
                background-color: #ccc;
                color: black;
            }

            .deletebtn {
                background-color: #f44336;
                color: white;
            }


        </style>
    </head>

<body>
<!-- Page Preloder -->
<!--<div th:if="${reLoadPageCart}" id="preloder">-->
<!--    <div class="loader"></div>-->
<!--</div>-->

<!-- Header Section Begin -->
<header class="header">


    <th:block th:if="${message != null}">
        <span class="text-danger"></span>
    </th:block>

    <script th:inline="javascript">
        $(document).ready(function () {
            // Kiểm tra xem có thông báo cần hiển thị hay không
            var errorMessage = /*[[${message}]]*/ null;

            if (errorMessage) {
                // Hiển thị SweetAlert2 với hẹn giờ
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    html: errorMessage,
                    showConfirmButton: false,
                    timer: 5000
                });
            }
        });
    </script>

    <div class="header__top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3  d-flex align-items-center">
                    <div class="header__top__left">
                        <p>Chào mừng đến với trải nghiệm mua sắm</p>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <form action="/buyer/search" method="post">
                        <div style="width: 100%; display: flex; background-color: white; border: 10px;">
                            <input th:value="${keyword}" name="keyWord" class="form-control"
                                   style="border: none; width: 500px;" placeholder="Nhập văn bản..." type="text">
                            <div style="width: 60px; background-color: #f3f2ee; height: 40px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <a type="submit" href=""><img src="/images/img/icon/search.png" alt=""></a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-3 d-flex align-items-center">
                    <div>
                        <div class="header__top__links">
                            <a th:href="@{'/buyer/purchase'}">Đơn mua</a>
                        </div>
                        <!--        Buyer FullName Begin    -->
                        <div class="header__top__hover">
                            <span th:text="${fullNameLogin}" th:if="${fullNameLogin != null}"><i class="arrow_carrot-down"></i></span>
                            <ul th:if="${fullNameLogin != null}">
                                <li><a th:href="@{'/buyer/setting'}">Cài đặt</a></li>
                                <li><a th:href="@{'/buyer/logout'}">Đăng xuất</a></li>
                                <li><a th:href="@{'/buyer/change-password'}">Đổi mật khẩu</a></li>
                            </ul>
                            <a th:if="${messageLoginOrSignin}" th:href="@{'/buyer/login'}"
                               style="color: #ffffff;font-size: 13px;text-transform: uppercase;letter-spacing: 2px;display: inline-block;cursor: pointer;">Đăng
                                nhập</a>
                            <a><span> | | </span></a>
                            <a th:if="${messageLoginOrSignin}" th:href="@{'/buyer/register'}"
                               style="color: #ffffff;font-size: 13px;text-transform: uppercase;letter-spacing: 2px;display: inline-block;cursor: pointer;">Đăng
                                ký </a>
                        </div>
                        <!--            Buyer FullName End -->
                        <div class="header__top__hover">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container" style=" height: 100px">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a th:href="@{'/buyer/home'}">
                        <img src="/images/img/logo.png" style="width: 240px; height: 240px; margin-top: -84px" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}">
                            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="7000">
                                <div class="toast-header">
                                    <strong class="mr-auto">Thông báo</strong>
                                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="toast-body" th:text="${errorMessage}">
                                </div>
                            </div>
                        </div>

                        <div th:if="${successMessage}" th:attr="data-message=${successMessage}" id="success-toast"
                             style="position: fixed; top: 1rem; right: 1rem; z-index: 1050;">
                            <!-- Toast container, ẩn mặc định và sẽ được hiển thị bằng JavaScript -->
                            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="7000">
                                <div class="toast-header">
                                    <strong class="mr-auto">Thông báo</strong>
                                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="toast-body" th:text="${successMessage}">
                                </div>
                            </div>
                        </div>


                        <li><a th:href="@{'/buyer/'}">Home</a></li>
                        <li class="active"><a th:href="@{'/buyer/shop'}">Shop</a></li>
                        <li><a th:href="@{'/buyer/about'}">About Us</a></li>
                        <li><a th:href="@{'/buyer/blog'}">Blog</a>
                            <ul class="dropdown">
                                <li><a th:href="@{'/buyer/blog/blog-details'}">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{'/buyer/contact'}">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option" style="display: flex;justify-content: end;">



                    <a th:href="@{'/buyer/cart'}" style="position: relative; display: inline-block; ">
                        <img src="/images/img/icon/cart.png" alt="">
                        <span class="cart-count"
                              style="position: absolute; height:20px; width: 25px; top: -13px; left: 3px;  color: rgb(0, 0, 0) ; font-size: 12px; font-weight: bold;  padding: 4px; border-radius: 50%;"
                              th:text="${sumProductInCart}"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->

<section>
    <div style="height: 150px; width: 100%;"></div>
</section>

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad" style="margin-top: -80px">
    <div class="container">

        <form action="/buyer/checkout" method="get" id="purchaseForm">
            <div style="z-index: 100; width: 1170px;  position: fixed;margin-bottom: 50px">
                <div class="row" style="background-color: #f3f2ee; height: 80px; width: 1170px;  ">
                    <div class="col-lg-8">
                        <p style="margin: 20px 0 5px 50px;">
                            <input onclick="selectAllItems(this)" style="height: 20px; width: 20px; margin-right: 10px;"
                                   type="checkbox" name="" id="checkAll"
                                   th:text="'Chọn tất cả ( ' +${sumProductInCart} +' sản phẩm )'"></p>


                    </div>
                    <div class="col-lg-2">
                        <h5 style=" margin: 20px 0 5px 0;">Tổng : </h5>
                    </div>
                    <div class="col-lg-2">
                        <h5 style=" margin: 20px 0 5px 0;" id="grandTotal"></h5>
                    </div>
                </div>

                <div class="row" style="background-color: #f3f2ee; height: 50px;width: 1170px; ">
                    <div class="col-lg-8">

                    </div>
                    <div class="col-lg-4">
                        <button style="width: 300px; height: 35px; border: 0.5px solid rgb(61, 61, 61);" type="submit"
                                onclick="return validatePurchase()">Mua hàng
                        </button>
                    </div>
                </div>
            </div>

            <div style="height: 160px; width: 100%;"></div>

            <div class="row">

                <div class="col-lg-12">

                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                            <tr>
                                <th>x</th>
                                <th style="width: 400px;">Sản phẩm</th>
                                <th style="width: 175px;">Phân loại hàng</th>
                                <th style="width: 175px;">Số lượng</th>
                                <th style="width: 140px;">Tổng</th>
                                <th class="cart__close">Thao tác</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="shopping__cart__table">

                        <table style="height:250px;">
                            <tbody>

                            <th:block th:each="x : ${listCartDetail}">

                                <tr th:if="${x.chiTietGiay.trangThai == 1}" id="productId"
                                    th:value="${x.chiTietGiay.idCTG}">

                                    <td>
                                        <input type="hidden" name="selectedProducts" value="none"/>
                                        <input type="hidden" name="productIds" th:value="${x.chiTietGiay.idCTG}"/>
                                        <input style="height: 20px; width: 20px;" class="itemsCart" onclick="updateTotalAmount(this)" type="checkbox" th:name="${x.chiTietGiay.idCTG}">
                                    </td>
                                    <td style="width: 400px;" class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <a th:href="@{'/buyer/shop-details/' + ${x.chiTietGiay.giay.idGiay} + '/' +  ${x.chiTietGiay.mauSac.idMau}}">
                                                <img style="width:90px; height:90px;"
                                                     th:src="@{'/images/imgsProducts/' + ${x.chiTietGiay.hinhAnh.url1}}"></a>
                                        </div>
                                        <div class="product__cart__item__text">
                                            <a th:href="@{'/buyer/shop-details/' + ${x.chiTietGiay.giay.idGiay} + '/' +  ${x.chiTietGiay.mauSac.idMau}}">
                                                <h6 style="margin-top: -22px;"
                                                    th:text="${x.chiTietGiay.giay.tenGiay}"></h6>
                                            </a>
                                            <h5 class="cart__price"
                                                th:text="'₫' +  ${#numbers.formatDecimal(x.chiTietGiay.giaBan, 0, 'COMMA', 0, 'POINT')}"></h5>
                                        </div>

                                    </td>
                                    <td style="width: 175px;" class="quantity__item">
                                        <div style="margin-top: -20px; display: block;">
                                            <span id="showButton" style="font-weight: normal; font-size: medium;">Phân loại :</span>
                                            <a th:href="@{'/buyer/cart/option/' + ${x.chiTietGiay.giay.idGiay} + '/' + ${x.chiTietGiay.mauSac.idMau}+ '/' + ${x.chiTietGiay.idCTG}}">
                                                <img style="height: 10px; width: 10px;"
                                                     src="/images/img/icon/dropdown.png" alt="">
                                            </a>
                                        </div>
                                        <div style="padding-right: 20px;">
                                            <span style="font-size: 10pt; font-weight: 500; color: rgba(0,0,0,.54);"
                                                  th:text="'Colors : ' + ${x.chiTietGiay.mauSac.tenMau}"></span>
                                            <span style="font-size: 10pt; font-weight: 500; color: rgba(0,0,0,.54);"
                                                  th:text="'Size : ' + ${x.chiTietGiay.size.soSize}"></span>
                                        </div>
                                    </td>

                                    <td style="width: 175px;" class="quantity__item">
                                        <div class="quantity">
                                            <input class="quantityInput" oninput="validateQuantity(this)"
                                                   th:value="${x.soLuong}"
                                                   style="width: 50px; text-align: center; border: 1px solid black;"
                                                   type="number" name="quantities">
                                        </div>
                                    </td>


                                    <td style="width: 140px;" class="cart__price totalAmount"
                                        th:text="'₫' + ${#numbers.formatDecimal(x.chiTietGiay.giaBan * x.soLuong, 0, 'COMMA', 0, 'POINT')}"></td>
                                    <!--                                    <td class="cart__close"><a th:href="@{'/buyer/cart/delete/' + ${x.chiTietGiay.idCTG}}" id="deleteToCartButton" style="border-radius: 20% ; " ><i class="fa fa-close"></i></a></td>-->
                                    <!--                                    <td class="cart__close"> <a th:href="@{/buyer/cart/delete/{idCTG}(idCTG=${x.chiTietGiay.idCTG})}" id="deleteToCartButton" style="border-radius: 20%;" onclick="return confirm('Bạn có chắc chắn muốn xoá sản phẩm này khỏi giỏ hàng không?')" class="confirmation-box"> <i class="fa fa-close"></i> </a> </td>-->
                                    <!-- Nút xóa -->
                                    <td class="cart__close">
                                        <a th:href="@{'/buyer/cart/delete/' + ${x.chiTietGiay.idCTG}}" id="deleteToCartButton" style="border-radius: 20%;" onclick="return confirmDelete();">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </td>


                                </tr>


                            </th:block>

                            <th:block th:each="x : ${listCartDetail}">

                                <tr th:if="${x.chiTietGiay.trangThai == 0 }" id="productId" th:value="${x.chiTietGiay.idCTG}">

                                    <td>
                                        <p>Hết hàng</p>
                                    </td>
                                    <td style="width: 400px;" class="product__cart__item" >
                                        <div class="product__cart__item__pic">
                                            <a th:href="@{'/buyer/shop-details/' + ${x.chiTietGiay.giay.idGiay} + '/' +  ${x.chiTietGiay.mauSac.idMau}}"> <img style="width:90px; height:90px;" th:src="@{'/images/imgsProducts/' + ${x.chiTietGiay.hinhAnh.url1}}"></a>
                                        </div>
                                        <div class="product__cart__item__text">
                                            <a th:href="@{'/buyer/shop-details/' + ${x.chiTietGiay.giay.idGiay} + '/' +  ${x.chiTietGiay.mauSac.idMau}}">
                                                <h6 style="margin-top: -22px;" th:text="${x.chiTietGiay.giay.tenGiay}"></h6>
                                            </a>
                                            <h5 class="cart__price" th:text="'₫' +  ${#numbers.formatDecimal(x.chiTietGiay.giaBan, 0, 'COMMA', 2, 'POINT').replaceAll('([,.])0+$', '$1').replaceAll('\\.$', '')}"></h5>
                                        </div>

                                    </td>
                                    <td style="width: 175px;"  class="quantity__item">
                                        <div  style="margin-top: -20px; display: block;">
                                            <span id="showButton" style="font-weight: normal; font-size: medium;">Phân loại :</span>
                                            <a th:href="@{'/buyer/cart/option/' + ${x.chiTietGiay.giay.idGiay} + '/' + ${x.chiTietGiay.mauSac.idMau}+ '/' + ${x.chiTietGiay.idCTG}}">
                                                <img style="height: 10px; width: 10px;" src="/images/img/icon/dropdown.png" alt="">
                                            </a>
                                        </div>
                                        <div style="padding-right: 20px;">
                                            <span style="font-size: 10pt; font-weight: 500; color: rgba(0,0,0,.54);" th:text="'Colors : ' + ${x.chiTietGiay.mauSac.tenMau}"></span>
                                            <span style="font-size: 10pt; font-weight: 500; color: rgba(0,0,0,.54);" th:text="'Size : ' + ${x.chiTietGiay.size.soSize}" ></span>
                                        </div>
                                    </td>
                                    <td style="width: 175px;"  class="quantity__item">
                                        <div class="quantity">



                                        </div>
                                    </td>
                                    <td style="width: 140px;" class="cart__price totalAmount" th:text="'₫' + ${#numbers.formatDecimal(x.chiTietGiay.giaBan * x.soLuong, 0, 'COMMA', 2, 'POINT').replaceAll('([,.])0+$', '$1').replaceAll('\\.$', '')}"></td>
                                    <td class="cart__close"><a th:href="@{'/buyer/cart/delete/' + ${x.chiTietGiay.idCTG}}" id="deleteToCartButton" style="border-radius: 20% ; " ><i class="fa fa-close"></i></a></td>

                                </tr>

                            </th:block>



                            <div class="alert alert-warning container mt-3 text-center"
                                 th:if="*{listCartDetail.isEmpty()}"
                                 style="background-color: transparent; border: none;">
                                <img src="/images/img/icon/gioHangTrong1.jpg" alt="Giỏ hàng trống"
                                     style="width: 350px; height: 200px;">
                                <br>
                                <p class="empty-message" style="margin-top: 20px; font-size: 1.8em;">Bạn chưa có sản
                                    phẩm
                                    nào trong giỏ hàng!</p>
                            </div>


                            </tbody>


                        </table>



                    </div>

                </div>

            </div>
        </form>

    </div>

    <div class="row" style="align-items: center; margin-top: 30px;">
        <div style="height: 0.7px; width: 90%; background-color: #707070; margin-left: 5%;"></div>
    </div>

</section>
<!-- Shopping Cart Section End -->

<!-- Related Section Begin -->
<section style="margin-top: -140px;" class="related spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Sản phẩm liên quan</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
                        <span class="label">New</span>
                        <ul class="product__hover">
                            <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a>
                            </li>
                            <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
                        <span class="label">New</span>
                        <ul class="product__hover">
                            <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a>
                            </li>
                            <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
                        <span class="label">New</span>
                        <ul class="product__hover">
                            <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a>
                            </li>
                            <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
                        <span class="label">New</span>
                        <ul class="product__hover">
                            <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a>
                            </li>
                            <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
                        <span class="label">New</span>
                        <ul class="product__hover">
                            <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a>
                            </li>
                            <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
                        <span class="label">New</span>
                        <ul class="product__hover">
                            <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                            <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
                        <span class="label">New</span>
                        <ul class="product__hover">
                            <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a>
                            </li>
                            <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/images/imgsProducts/product-1.1.png">
                        <span class="label">New</span>
                        <ul class="product__hover">
                            <li><a href="#"><img src="/images/img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/img/icon/compare.png" alt=""> <span>Compare</span></a>
                            </li>
                            <li><a href="#"><img src="/images/img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Section End -->

<!-- Footer Section Begin -->
<footer style="margin-top: 210px; background: #0b0b0b ; text-align: center" >
    <div class="footer__copyright__text">
        <p> This template is edit with TeeZy Shop <i class="fa fa-heart-o" aria-hidden="true"></i>
        </p>
    </div>
</footer>

<section>

    <!--Modal show option product begin-->
    <div th:if="${showModalChooseSize}" class="modal fade" id="showOptionProductInCart" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="width: 600px;">
            <form action="/buyer/cart/change/size" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle" th:text="${nameProduct}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="radio-input">
                            <div style="margin: 5px 0 5px 0;"></div>
                        </div>
                        <div>
                            <div style="margin-bottom: 10px;">
                                <span style="margin-left: 85px; "> Nhấn <img src="/images/img/icon/mail.png"
                                                                             style="height: 15px; width: 20px; margin:0 10px 2px 10px;"
                                                                             alt=""> để nhận thông báo khi có hàng </span>
                            </div>
                            <div class="radio-input">

                                <!--              List Size Start-->
                                <th:block th:each="x : ${listCTGByGiay}">

                                    <label style=" margin: 5px; font-weight: unset; font-size: small; height: 40px;">
                                        <a th:if="${x.trangThai == 1}" class="link">
                                            <input th:value="${x.idCTG}" type="radio" name="selectedValues">
                                            <span th:text="${x.size.soSize}"></span>
                                        </a>

                                        <a th:if="${x.trangThai == 0}" class="link">
                                            <input type="">
                                            <span th:text="${x.size.soSize}"></span>
                                        </a>

                                        <a th:if="${x.trangThai == 0}"
                                           th:attr="onclick='receiveMail(event, \'' + ${x.idCTG} + '\')'"
                                           class="receiveMail">
                                            <img src="/images/img/icon/mail.png"
                                                 style="height: 15px; width: 20px; margin-bottom: 2px; cursor: pointer;"
                                                 alt="">
                                        </a>
                                    </label>

                                </th:block>

                                <!--            List Size End-->

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--Modal show option product end-->

    <!--    <div class="modal fade" id="messAddThanhCong" tabindex="-1" role="dialog" aria-labelledby="messAddThanhCongTitle" aria-hidden="true">-->
    <!--        <div class="modal-dialog modal-dialog-centered" role="document">-->
    <!--            <div class="modal-content">-->
    <!--                <div class="modal-header">-->
    <!--                    <h5 class="modal-title" id="messAddThanhCongTitle" >FBI Waring !</h5>-->
    <!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
    <!--                        <span aria-hidden="true">&times;</span>-->
    <!--                    </button>-->
    <!--                </div>-->
    <!--                <div class="modal-body">-->

    <!--                    <div style="align-items: center; text-align: center; width: 465px; margin-top: 10px; margin-bottom: 10px;">-->
    <!--                        <p style="font-size: 13pt; font-weight: 600;">Chọn ít nhất 1 sản phẩm để mua hàng !!</p>-->
    <!--                    </div>-->

    <!--                </div>-->
    <!--                <div class="modal-footer">-->
    <!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->


    <!-- Button trigger modal -->
    <!-- Button trigger modal -->
<!--    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#messAddThanhCong">-->
<!--        Mở thông báo-->
<!--    </button>-->

    <!-- Modal -->
    <div class="modal fade" id="messAddThanhCong" tabindex="-1" role="dialog" aria-labelledby="messAddThanhCongTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messAddThanhCongTitle">FBI Waring !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="text-align: center;">
                        <p style="font-size: 12pt; font-weight: 500;">Chọn ít nhất 1 sản phẩm để mua hàng !!</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <p>Nhấp vào chỗ trống để đóng</p>

                </div>
            </div>
        </div>
    </div>


    <!-- Modal HTML -->


</section>

<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/scrollbar.min.js"></script>
<script src="/js/custom-scroll.js"></script>


<script>
    $(document).ready(function(){
        $('#yourTriggerButton').click(function(){
            $('#simpleModal').modal('show');
        });
    });
</script>




<script th:inline="javascript">
    /*<![CDATA[*/
    function validateQuantity(inputElement) {
        var quantity = parseInt(inputElement.value);

        // Kiểm tra xem giá trị có phải là số không
        if (isNaN(quantity) || quantity < 1 || quantity > 10) {
            alert('Vui lòng nhập số trong khoảng từ 1 đến 10.');
            // Đặt giá trị mặc định là 1 nếu giá trị không hợp lệ hoặc là chữ

            if (quantity < 1)  {
                inputElement.value = 1;
            }else

                inputElement.value = 10
        }

        // Gọi hàm updateTotalAmount để cập nhật tổng tiền
        updateTotalAmount(inputElement);
    }
    /*]]>*/
</script>

<!--Update quantity product in cart BEGIN -->
<script>
    function incrementQuantity(input) {
        var quantityInput = input.parentNode.querySelector('.quantityInput');
        var currentQuantity = parseInt(quantityInput.value);
        quantityInput.value = currentQuantity + 1;
        updateTotalAmount(quantityInput);
    }

    function decrementQuantity(input) {
        var quantityInput = input.parentNode.querySelector('.quantityInput');
        var currentQuantity = parseInt(quantityInput.value);
        // Kiểm tra nếu số lượng hiện tại lớn hơn 0 và nhỏ hơn hoặc bằng 10
        if (currentQuantity > 0 && currentQuantity <= 10) {
            quantityInput.value = currentQuantity - 1;
            updateTotalAmount(quantityInput);
        }
    }


    function updateTotalAmount(input) {
        var quantity = input.parentElement.parentElement.querySelector('input[name="quantities"]').value;
        var idCTG = input.getAttribute('name'); // Đảm bảo rằng đây là thuộc tính chứa idCTG

        // if(input.type == 'checkbox') {
        //     const selectProduct = input.parentElement.querySelector('input[name="selectedProducts"]');
        //     selectProduct.value = input.checked ? idCTG : "none";
        // }


        const selectProduct = input.parentElement.querySelector('input[name="selectedProducts"]');
        if(input.checked) selectProduct.value = idCTG;
        else selectProduct.value = "none"
        fetch('/buyer/cart/updateQuantity', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 'idCTG=' + encodeURIComponent(idCTG) + '&quantity=' + encodeURIComponent(quantity),
        })
            .then(response => response.text())
            .then(data => {
                // Cập nhật tổng số tiền sau khi server xác nhận cập nhật số lượng
                var totalAmount = 0;
                $(".itemsCart:checked").each(function () {
                    var priceProduct = parseFloat($(this).closest("tr").find(".cart__price").text().replace('₫', '').replace(/,/g, '').trim());
                    var quantity = parseInt($(this).closest("tr").find(".quantityInput").val());
                    totalAmount += priceProduct * quantity;
                });

                $("#grandTotal").text("₫" + totalAmount.toLocaleString());

                var priceProduct = parseFloat($(input).closest("tr").find(".cart__price").text().replace('₫', '').replace(/,/g, '').trim());
                var quantity = parseInt($(input).closest("tr").find(".quantityInput").val());
                var totalAmountElement = $(input).closest("tr").find(".totalAmount");
                var totalAmount = quantity * priceProduct;
                totalAmountElement.text("₫" + totalAmount.toLocaleString());
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function selectAllItems(checkbox) {
        $(".itemsCart").prop("checked", $(checkbox).prop("checked"));
        var totalAmount = 0;

        if ($(checkbox).prop("checked")) {
            // Nếu tất cả sản phẩm được chọn, cập nhật tổng tiền cho mỗi sản phẩm
            $(".itemsCart:checked").each(function () {
                updateTotalAmount(this);
            });
        } else {
            // Nếu không có sản phẩm nào được chọn, đặt tổng tiền về 0
            $("#grandTotal").text("₫0");
        }
    }


    function formatCurrency(amount) {
        return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

</script>

<!--<script>-->
<!--    function selectAllItems(checkbox) {-->
<!--        $(".itemsCart").prop("checked", $(checkbox).prop("checked"));-->
<!--        updateTotalAmount();-->
<!--    }-->
<!--    updateTotalAmount();-->
<!--</script>-->
<!--Update quantity product in cart END -->



<!-- Check choose product Begin -->
<script>
    function validatePurchase() {
        var form = document.getElementById('purchaseForm');
        var checkboxes = form.querySelectorAll('input[type="checkbox"]');
        var atLeastOneChecked = false;

        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                atLeastOneChecked = true;
                return;
            }
        });

        if (!atLeastOneChecked) {
            $('#messAddThanhCong').modal('show');
            event.preventDefault();
        }


        return true;
    }
</script>



<!-- Check choose product End -->

<script>
    $(document).ready(function () {
        $('#showOptionProductInCart').modal('show');
    });
</script>

<!--Receive mail begin-->

<script>
    function receiveMail(event, idCTG) {

        console.log('idCTG:', idCTG);

        // Ngăn chặn hành vi mặc định của liên kết (chuyển hướng trang)
        event.preventDefault();

        // Gửi yêu cầu Fetch
        fetch(`/buyer/cart/receive/mail/${idCTG}`, {
            method: 'POST', // hoặc 'GET', 'PUT', 'DELETE', v.v.
            headers: {
                'Content-Type': 'application/json', // Đặt kiểu dữ liệu gửi đi (nếu có)
                // Các headers khác nếu cần
            },
            body: JSON.stringify({
                // Dữ liệu gửi đi (nếu có)
                // ...
            }),
        })
            .then(response => response.json())
            .then(data => {
                // Xử lý dữ liệu nhận được từ API
                console.log(data);
            })
            .catch(error => {
                // Xử lý lỗi nếu có
                console.error('Error:', error);
            });

        return false; // Ngăn chặn sự kiện onclick tiếp theo (nếu có)
    }
</script>
<script th:if="${successMessage}">
    document.addEventListener('DOMContentLoaded', (event) => {
        var toastElement = document.getElementById('success-toast').querySelector('.toast');
        var toast = new bootstrap.Toast(toastElement);
        toast.show();
    });
</script>





<script>
    // Hàm sẽ được gọi ngay khi trang được tải xong
    window.onload = function() {
        // Tìm ô thông báo bằng ID hoặc lớp
        var errorMessageElement = document.querySelector('.alert') || document.querySelector('.error-message');
        if (errorMessageElement) {
            // Đặt hẹn giờ ẩn ô thông báo sau 5 giây (5000 milliseconds)
            setTimeout(function() {
                errorMessageElement.style.display = 'none';
            }, 5000);
        }
    };
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const deleteButtons = document.querySelectorAll('#deleteToCartButton');

        deleteButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent the default link behavior

                Swal.fire({
                    title: 'Bạn có chắc chắn muốn xóa?',
                    text: "Sản phẩm sẽ bị xóa khỏi giỏ hàng của bạn!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Xóa',
                    cancelButtonText: 'Hủy bỏ'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = button.href; // Manually redirect if confirmed
                    }
                });
            });
        });
    });
</script>

<!--<script type="text/javascript">-->
<!--    function confirmDelete() {-->
<!--        return confirm("Bạn có chắc chắn muốn xoá sản phẩm này khỏi giỏ hàng?");-->
<!--    }-->
<!--</script>-->



<!--Receive mail end-->
<!--aaaa-->
</body>

</html>