<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sneaker Shop</title>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Male_Fashion Template">
        <meta name="keywords" content="Male_Fashion, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sneaker Shop</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
              rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/images/img/icon.png">
        <!-- Css Styles -->
        <link rel="stylesheet" href="/cssx/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/cssx/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="/cssx/nice-select.css" type="text/css">
        <link rel="stylesheet" href="/cssx/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/style.css" type="text/css">
        <link rel="stylesheet" href="/cssx/scroll.min.css" type="text/css">
        <link rel="stylesheet" href="/cssx/styleNhan.css" type="text/css">

        <style>
            header {
                position: fixed;
                width: 100%;
                z-index: 100;
            }

            .color-box {
                display: inline-block;
                border: 1px solid #000;
                margin: 0 5px;
            }
        </style>
    </head>

<body style="margin-top: -10px">
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3  d-flex align-items-center">
                    <div class="header__top__left">
                        <p>Chào mừng đến với trải nghiệm mua sắm</p>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <form action="/buyer/search" method="post">
                        <div style="width: 100%; display: flex; background-color: white; border: 10px;">

                            <input th:value="${keyword}" name="keyWord" class="form-control" style="border: none; width: 500px;"  placeholder="Tìm kiếm..." type="text">

                            <div style="width: 60px; background-color: #f3f2ee; height: 40px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <a type="submit" href=""><img src="/images/img/icon/search.png" alt=""></a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-3 d-flex align-items-center">
                    <div>

                        <div th:if="${heartLogged}" class="header__top__links">
                            <a th:href="@{'/buyer/purchase'}">Đơn mua</a>
                        </div>

                        <!--        Buyer FullName Begin    -->
                        <div class="header__top__hover">
                            <span th:text="${fullNameLogin}"><i class="arrow_carrot-down"></i></span>
                            <ul>
                                <li><a th:href="@{'/buyer/setting'}">Cài đặt</a></li>
                                <li><a th:href="@{'/buyer/logout'}">Đăng xuất</a></li>

                            </ul>
                            <a th:if="${messageLoginOrSignin}" th:href="@{'/buyer/login'}"
                               style="color: #ffffff;font-size: 13px;text-transform: uppercase;letter-spacing: 2px;display: inline-block;cursor: pointer;">Đăng
                                nhập</a>
                            <a><span> | | </span></a>
                            <a th:if="${messageLoginOrSignin}" th:href="@{'/buyer/register'}"
                               style="color: #ffffff;font-size: 13px;text-transform: uppercase;letter-spacing: 2px;display: inline-block;cursor: pointer;">Đăng
                                ký </a>
                        </div>
                        <!--            Buyer FullName End -->

                        <div class="header__top__hover">

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container" style=" height: 100px">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">

                    <a th:href="@{'/buyer/home'}" ><img src="/images/img/logo.png" style="width: 240px; height: 240px; margin-top: -84px" alt=""></a>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a th:href="@{'/buyer/'}">Home</a></li>
                        <li class="active"><a th:href="@{'/buyer/shop'}">Shop</a></li>
                        <li><a th:href="@{'/buyer/about'}">About Us</a></li>
                        <li><a th:href="@{'/buyer/blog'}">Blog</a>
                            <ul class="dropdown">
                                <li><a th:href="@{'/buyer/blog/blog-details'}">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{'/buyer/contact'}">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option" style="display: flex;justify-content: end;">


                    <div class="nav user-menu" style="height: 30px;">
                        <li class="nav-item dropdown" style="height: 30px;">
                            <a data-bs-toggle="dropdown" href="#">
                                <img style="margin-bottom: 42px; width: 18px; height: 18px;"
                                     src="/images/img/icon/notification.png">
                            </a>
                            <span style="position: absolute; height:20px; width: 25px; top: -13px; left: 7px;  color: rgb(0, 0, 0) ; font-size: 12px; font-weight: bold;  padding: 4px; border-radius: 50%;"
                                  th:text="${soThongBao}"></span>
                            <div class="dropdown-menu notifications"
                                 style="width:300px; top: -80px; position: absolute;">
                                <div class="topnav-dropdown-header">
                                    <span class="notification-title">Thông báo</span>
                                    <a class="clear-noti"> Xóa sạch </a>
                                </div>
                                <div class="vertical-scroll scroll-demo">
                                    <th:block th:if="${x.trangThai != 3}" th:each="x : ${listThongBao}">
                                        <a href="#" class="items-noticafitions">
                                            <div class="items-notica">
                                        <span class="avatar">
                                            <img alt="" src="/images/img/blog/blog-1.jpg">
                                        </span>
                                                <div class="text-notica">
                                                    <span class="notica-title" th:text="${fullNameLogin}"></span>
                                                    <p class="notica-times">1 phút trước</p>
                                                    <input th:if="x.trangThai == 1" checked class="notica-read"
                                                           type="radio" name="" id="">
                                                    <input th:if="x.trangThai == 0">
                                                </div>
                                                <p class="notica-status">---------</p>
                                                <div class="text-contents">
                                                    <p class="notica-contents" th:text="${x.noiDungTB}"></p>
                                                </div>


                                            </div>
                                        </a>
                                    </th:block>
                                </div>
                                <div class="topnav-dropdown-footer">
                                    <a href="activities.html">Xem tất cả thông báo</a>
                                </div>
                            </div>

                        </li>
                    </div>

                    <a th:href="@{'/buyer/fa&recently'}"><img src="/images/img/icon/heart2.png" alt=""></a>

                    <a th:href="@{'/buyer/cart'}" style="position: relative; display: inline-block; ">
                        <img src="/images/img/icon/cart.png" alt="">
                        <span class="cart-count"
                              style="position: absolute; height:20px; width: 25px; top: -13px; left: 3px;  color: rgb(0, 0, 0) ; font-size: 12px; font-weight: bold;  padding: 4px; border-radius: 50%;"
                              th:text="${sumProductInCart}"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->

<section>
    <div style="height: 150px; width: 100%;"></div>
</section>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a th:href="@{'/buyer/home'}">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll" style="height: 20%">
                                                <li><a href="/buyer/shop"
                                                       th:text="'Tất cả ( '+ ${sumProduct} + ' )'"></a></li>
                                                <li><a href="/buyer/shop/best">Bán chạy </a></li>
                                                <li><a href="/buyer/shop/new">Hàng mới về </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Hãng</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                <li class="active" data-filter="*"><a href="/buyer/shop">Tất cả hãng</a>
                                                </li>
                                                <th:block th:each="a : ${listBrand}">
                                                    <li><a th:href="@{'/buyer/shop/brand/' + ${a.idHang}}"
                                                           th:text="${a.tenHang}"> </a></li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Lọc giá</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="/buyer/shop/price/type=1">₫0K - ₫2000K</a></li>
                                                <li><a href="/buyer/shop/price/type=2">₫2000K - ₫3000K</a></li>
                                                <li><a href="/buyer/shop/price/type=3">₫3000K - ₫5000K</a></li>
                                                <li><a href="/buyer/shop/price/type=4">₫5000K - ₫8000K</a></li>
                                                <li><a href="/buyer/shop/price/type=5">₫8000K +</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">Màu sắc</a>
                                </div>
                                <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__color">
                                            <th:block th:each="a : ${listColor}">
                                                <a  th:href="@{'/buyer/shop/color/' + ${a.idMau}}">
                                                    <div class="color-box" th:style="'height: 30px; width: 30px; border-radius: 50%;background-color: ' +  ${a.maMau}"></div>
                                                </a>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p th:text="'Show 1 - 9 of ' + ${sumProduct} + ' Result'"></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sắp xếp theo giá:</p>
                                <select onchange="window.location.href = this.value;">
                                    <option>Lựa chọn</option>
                                    <option value="/buyer/shop/lowToHigh">Từ thấp đến cao</option>
                                    <option value="/buyer/shop/highToLow">Từ cao xuống thấp</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row product__filter">

                    <div th:if="${khongThay}" class="col-lg-12 col-md-6 col-sm-6">
                        <h5 style="text-align: center; margin: auto;">Không có sản phẩm </h5>
                    </div>

                    <th:block th:each="product : ${listCTGModel}">

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" style="border-radius: 10px;"
                                     th:attr="data-setbg=@{'/images/imgsProducts/' + ${product.hinhAnh}}">
                                    <ul class="product__hover">
                                        <li th:if="${heartLogged}">
                                            <a th:href="@{'/buyer/heart/' + ${product.idGiay} +'/' + ${product.idMau}}">
                                                <img src="/images/img/icon/heart.png" alt="">
                                                <span>Yêu thích</span>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="/images/img/icon/compare.png"
                                                             alt=""><span>So sánh</span></a></li>
                                        <li>
                                            <a th:href="@{'/buyer/shop-details/' + ${product.idGiay} +'/' + ${product.idMau}}">
                                                <img src="/images/img/icon/view.png" alt=""><span>Chi tiết</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <h6 style="margin-top:  10px; margin-bottom: 10px "
                                        th:text="${product.tenGiay}"></h6>
                                    <h5 th:if="${product.minPrice != product.minPriceTruocGiam}"
                                        style="color: #b7b7b7; text-decoration: line-through; margin-bottom: 10px;"
                                        th:text="'₫' + ${#numbers.formatDecimal(product.minPriceTruocGiam, 0, 'COMMA', 2, 'POINT').replaceAll('([,.])0+$', '$1').replaceAll('\\.$', '')}"></h5>
                                    <h5 style="font-weight: bold; margin-bottom: 10px; "
                                        th:text="'₫' + ${#numbers.formatDecimal(product.minPrice, 0, 'COMMA', 2, 'POINT').replaceAll('([,.])0+$', '$1').replaceAll('\\.$', '')}"></h5>
                                    <div class="product__color__select" style="display: flex">
                                        <h6 style="font-size: 12px ;" th:text="${product.slTon}+ ' ' + 'có sẵn'"></h6>
                                        <h6 style="font-style: italic; font-size: 12px ;margin-left: 100px;"
                                            th:text="${product.soLuongDaBan} + ' ' + 'đã bán'"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </th:block>

                </div>

                <div th:if="${showPage}" class="row">
                    <div class="col-lg-12">
                        <div th:if="${pageNumber}" class="product__pagination">

                            <th:block th:each="i : ${#numbers.sequence(1, totalPage)}">
                                <a class="active" th:href="@{'/buyer/shop?pageNum=' + ${i}}" th:text="${i}"></a>
                            </th:block>

                        </div>

                        <div th:if="${pageNumberHTL}" class="product__pagination">
                            <th:block th:each="i : ${#numbers.sequence(1, totalPageHTL)}">
                                <a class="active" th:href="@{'/buyer/shop/highToLow?pageNum=' + ${i}}"
                                   th:text="${i}"></a>
                            </th:block>
                        </div>
                        <div th:if="${pageNumberLTH}" class="product__pagination">
                            <th:block th:each="i : ${#numbers.sequence(1, totalPageLTH)}">
                                <a class="active" th:href="@{'/buyer/shop/lowToHigh?pageNum=' + ${i}}"
                                   th:text="${i}"></a>
                            </th:block>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div style="background-color: black; height: 2px; width: 100%; margin-top: 20px; margin-bottom: 20px;"></div>
                </div>

                <div class="row product__filter">

                    <tbody>
                    <th:block th:each="product : ${listCTGModelSoldOff}">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <img style="position: absolute;z-index: 1; height: 100px; width: 160px;"
                                     src="/images/img/soldOut2.png">

                                <div class="product__item__pic set-bg" style="border-radius: 10px;"
                                     th:attr="data-setbg=@{'/images/imgsProducts/' + ${product.hinhAnh}}">
                                    <ul class="product__hover">
                                        <li th:if="${heartLogged}">
                                            <a th:href="@{'/buyer/heart/' + ${product.idGiay} + '/' + ${product.idGiay}}">
                                                <img src="/images/img/icon/heart.png" alt=""><span>Yêu thích</span>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="/images/img/icon/compare.png"
                                                             alt=""><span>Compare</span></a></li>
                                        <li>
                                            <a th:href="@{'/buyer/shop-details/sold/' + ${product.idGiay} +'/' + ${product.idMau}}"><img
                                                    src="/images/img/icon/view.png" alt=""><span>Xem chi tiết</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <h6 style="margin-top:  10px; margin-bottom: 10px "
                                        th:text="${product.tenGiay}"></h6>
                                    <h5 style="font-weight: bold; margin-bottom: 10px; "
                                        th:text="'₫' + ${#numbers.formatDecimal(product.minPrice, 0, 'COMMA', 2, 'POINT').replaceAll('([,.])0+$', '$1').replaceAll('\\.$', '')}"></h5>
                                    <div class="product__color__select" style="display: flex">
                                        <h6 style="font-size: 12px ;" th:text="${product.slTon}+ ' ' + 'có sẵn'"></h6>
                                        <h6 style="font-style: italic; font-size: 12px ;margin-left: 100px;"
                                            th:text="${product.soLuongDaBan} + ' ' + 'đã bán'"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    </tbody>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="/Logo.png" alt=""></a>
                    </div>
                    <p> Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả thiết kế.</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Cửa hàng</h6>
                    <ul>
                        <li><a href="/buyer/shop">Gian hàng</a></li>
                        <li><a href="/buyer/shop">Xu Hướng</a></li>
                        <li><a href="/buyer/shop">Đề Xuất</a></li>
                        <li><a href="/buyer/shop/sale">Giảm giá</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua sắm</h6>
                    <ul>
                        <li><a href="#">Liên Hệ</a></li>
                        <li><a href="#">Thanh Toán</a></li>
                        <li><a href="#">Giao Hàng</a></li>
                        <li><a href="#">Hoàn Hàng/Tiền</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Hãy là người đầu tiên biết về hàng mới, sách tra cứu, khuyến mại và khuyến mãi!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        2023
                        All rights reserved | This template is edit with Thùy Péo
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/scrollbar.min.js"></script>
<script src="/js/custom-scroll.js"></script>
</body>

</html>